<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create Account | Graf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
</head>
<body>
    <div>
        <div class="panel callout radius" style="margin: 20px auto; width: 600px;">
            <h2>Graf</h2>
            <hr>
            <h1>Yippee!</h1>
            <p>You've made an account!</p>
            <a href="/login" class="button success">Now Go Log In!</a>
        </div>
    </div>
</body>
</html>
